.container {
    display: grid;
    grid-template-columns: 1fr 2fr .5fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 2fr 1fr;
    height: 500px;
    width: 1000px;
    margin: auto auto;
    grid-column-gap: 15px;
    grid-row-gap:15px;
}
.header{
    grid-column-start: 1;
    grid-column-end:9;
    background-color: Highlight;
}
.main-content{
    grid-column-start:2;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:3;
    background-color:forestgreen;
}
.sidebar {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color:mediumpurple;
}
.twinOne{
    grid-column-start:2;
    grid-column-end:3;
    background-color: orangered;
}
.twinTwo {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: orangered;
}
.footer{
    grid-column-start: 1;
    grid-column-end:9;
    background-color:darkblue;
}